input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #3c514c;
      color: #fff;
    }

    .header {
      position: relative;
      top: -55px;
      text-align: center;
      margin-bottom: 25px;
      padding: 2.5px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      text-align: left;
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="number"],
    input[type="text"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: 0 auto;
    }

    .currency {
      text-align: right;
    }

    button {
      display: block;
      margin: 0 auto;
      padding: 10px 20px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background-color: #45a049;
    }

    #resultado {
      margin-top: 20px;
      font-weight: bold;
      background-color: #f5f5f5;
      padding: 10px;
      border-radius: 4px;
      color: #000000;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      position: relative;
      top: 20px;
    }

    .error-message {
      color: red;
      font-size: 14px;
      text-align: center;
      
    }

    .button-site-principal {
      display: block;
      margin: 0 auto;
      padding: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
      transition: background-color 0.3s ease;
      position: relative;
      left: -15%;
      top: 90px;
      width: 200px;
      height: 22px;
      text-align: center;
      
    }

    .button-site-principal:hover {
      background-color: #45a049;
    }
    .imagem-responsiva {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      z-index: 1;
}
    @media screen and (max-width: 209px) {
      .button-site-principal {
      display: block;
      margin: 0 auto;
      padding: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
      transition: background-color 0.3s ease;
      position: relative;
      left: -15%;
      top: 155px;
      width: 200px;
      height: 22px;
      text-align: center;
      
    }
    }